.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo h2 {
  font-size: 45px;
}

.logo h2 #logo-r {
  color: #FD6E0A;
  font-weight: 800;
}

header {
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav {
  width: 71%;
  max-width: 1600px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  align-items: center;
  gap: 51px;
  list-style: none;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

.btn {
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 35px 19px 36px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
}

#banner {
  width: 71%;
  max-width: 1600px;
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 85px;
  font-weight: 800;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image {
  max-width: 585px;
  vertical-align: middle;
}
#about{
  padding: 130px 230px 0px;
  border: 5px solid red;
}
#about .about-container{
  border: 5px solid blue;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 157px 132px 157px;
}
.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;

}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575
}

#about .about-container .about-info{
  display:flex;
}