.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo h2{
  font-size: 45px;
}

.logo h2 #logo-r{
  color: #FD6E0A;
  font-weight: 800;
}
header{
  background-color: #FFF8F3;
  padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1600px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .menu{
  display: flex;
  align-items: center;
  gap: 51px;
  list-style: none;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 35px 19px 36px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}